<div class="row" ng-controller="WorkflowController">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                &nbsp;&nbsp;<span class="glyphicon glyphicon-paperclip"></span>&nbsp;&nbsp;Workflow Generator
            </div>
            <div class="panel-body">

                <p>Please choose a workflow from below, or use the form to create a new one</p>
                    <workflow-display-widget></workflow-display-widget>
                    <workflow-modify-widget></workflow-modify-widget>
            </div>
            <div class="panel-footer">
                <p>
                    A workflow is a collection of forms that must be filled out to complete a task.
                    For example a patient encounter is a class of workflow that utilizes forms which relate to an encounter with a patient.
                    When a workflow is run, the user engaging in the workflow will be presented with the forms contained in the workflow.
                </p>
            </div>
        </div>
    </div>
</div>
