<section ng-show="app.state=='providerview'">
    <div class="main">
        <div class="main-inner">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5">
                        <div class="panel panel-primary">
                            <span class="panel-heading"> <i class="fa fa-list-alt"></i>&nbsp;&nbsp;Today's Patients</span>
                            <!-- /widget-header -->
                            <div class="panel-body">
                                <div class="panel">
                                    <span>
                                        <i class="fa fa-calendar-o fa-fw"></i> - Appointment&nbsp;&nbsp;
                                        <i class="fa fa-wheelchair fa-fw"></i> - Walk In&nbsp;&nbsp;
                                        <i class="fa fa-ambulance fa-fw"></i> - Emergency&nbsp;&nbsp;
                                    </span>
                                    <div class="panel-body">
                                        <ul class="list-group">
                                            <li class="list-group-item"><i class="fa fa-wheelchair fa-fw"></i> <a class="value" ng-click="showPatient(0)">Victor Vargas</a></li>
                                            <li class="list-group-item"><i class="fa fa-ambulance fa-fw"></i> <a class="value" ng-click="showPatient(1)">Faye King</a></li>
                                            <li class="list-group-item"> <i class="fa fa-calendar-o fa-fw"></i> <a class="value" ng-click="showPatient(2)">Antonia Malsalud</a></li>
                                        </ul>
                                    </div>
                                    <!-- /widget-content -->
                                </div>
                            </div>
                        </div>
                        <!-- /widget -->
                    </div>
                    <!-- /span6 -->
                    <div class="col-lg-7">
                        <div class="panel panel-primary">
                            <span class="panel-heading"><i class="fa fa-calendar"></i>&nbsp;&nbsp;Calendar</span>
                            <div class="panel-body">
                                
                                <iframe src="https://www.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=en.mexican%23holiday%40group.v.calendar.google.com&amp;color=%23182C57&amp;ctz=America%2FTijuana" style=" border-width:0 " width="640" height="480" frameborder="0" scrolling="no"></iframe>
                    
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /row -->
            </div>
            <!-- /container -->
        </div>
        <!-- /main-inner -->
    </div>
    <!-- /main -->
</section>