<section ng-show="app.state=='dashboard-view'">
        <div class="row">
            <div class="col-lg-12">
                <button class="btn btn-large btn-default" ng-click="setState('agenda-view');">
                    Agenda<br>
                    <h1 class="glyphicon glyphicon-calendar"></h1>
                </button>
                <button class="btn btn-large btn-default" ng-click="setState('estudios-view');">
                    Estudios<br>
                    <h1 class="glyphicon glyphicon-stats"></h1>
                </button>
                <button class="btn btn-large btn-default" ng-click="setState('reportes-view');">
                    Reportes<br>
                    <h1 class="glyphicon glyphicon-list-alt"></h1>
                </button>
                <button class="btn btn-large btn-default ng-click="setState('supporte-view');">
                    Supporte<br>
                    <h1 class="glyphicon glyphicon-question-sign"></h1>
                </button>
                <button class="btn btn-large btn-default ng-click="setState('catalogos-view');">
                    Catalogos<br>
                    <h1 class="glyphicon glyphicon-book"></h1>
                </button>
                <button class="btn btn-large btn-default" ng-click="setState('customize-forms-view');">
                    Configuracion<br>
                    <h1 class="glyphicon glyphicon-wrench"></h1>
                </button>
            </div>
        </div>
</section>