<div ng-show="app.state=='estudios-view' || app.state=='reportes-view' || app.state=='supporte-view' || app.state=='catalogos-view' || app.state=='pacientes-view'" ng-controller="SearchController">
    <!--Estudios - Search for any record and all related info by
patient, dr, location is was done, location of referal, dates, by modality, observation
(will need a multifield search)-->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-primary">
                <span class="panel-heading" ng-if="app.state=='pacientes-view'">Buscar Para Pacientes</span>
                <span class="panel-heading" ng-if="app.state=='estudios-view'">Buscar Para Estudios</span>
                <span class="panel-heading" ng-if="app.state=='reportes-view'">Buscar Para Reportes</span>
                <span class="panel-heading" ng-if="app.state=='supporte-view'">Buscar Para Supporte</span>
                <span class="panel-heading" ng-if="app.state=='catalogos-view'">Buscar Para Catalogos</span>
                <div class="panel-body">
                    <global-search-widget></global-search-widget>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <search-results-widget></search-results-widget>
        </div>
    </div>
</div>