<div ng-hide="app.state">
    <div class="account-container">
        <div class="panel panel-primary">
            <div class="gradient-area">&nbsp;&nbsp;<i class="glyphicon glyphicon-log-in"></i>&nbsp;&nbsp;Login</div>

            <div class="panel-body">
                <div class="login-fields">
                    <p>You must login to continue</p>

                    <input type="text" id="username" name="username" value="" placeholder="Username" class="login username-field" ng-model="userData.email"><br>

                    <input type="password" id="password" name="password" value="" placeholder="Password" class="login password-field" ng-model="userData.password"><br>

                    <button class="btn btn-success btn-block" ng-click="loginUser();">Sign In</button>
                    <button class="btn btn-block" ng-click="registerUser()">Register</button>
                </div> <!-- .actions -->
           </div>
        </div>
    </div> <!-- /account-container -->
</div>