<nav id="nav"  ng-class="navClass" ng-mouseenter="showNav()" ng-mouseleave="hideNav()">
    <ul class="gradient-area">
        <!--TODO:  Make this part data driven -->
        <li><button class="flat-btn gradient-area nav-btn" ng-click="app.state='search'; toggleNav();"><i class="glyphicon glyphicon-search"></i></button></li>
        <li><button class="flat-btn gradient-area nav-btn" ng-click="app.state='providerview-patient'; toggleNav();"><i class="glyphicon glyphicon-folder-open"></i></button></li>
        <li><button class="flat-btn gradient-area nav-btn" ng-click="app.state='customize-forms'; toggleNav();"><i class="glyphicon glyphicon-list"></i></button></li>
        <li><button class="flat-btn gradient-area nav-btn" ng-click="app.state='messageview'; toggleNav();"><i class="glyphicon glyphicon-envelope"></i></button></li>
        <li><button class="flat-btn gradient-area nav-btn" ng-click="app.state='conferenceview'; toggleNav();"><i class="glyphicon glyphicon-signal"></i></button></li>
    </ul>
</nav>