<nav id="nav"  ng-class="cssVar" ng-mouseenter="cssVar='oneHundredPxWide'" ng-mouseleave="cssVar='onePxWide'">
    <ul class="gradient-area transitions">
        <!--TODO:  Make this data driven -->
        <li><button class="flat-btn gradient-area nav-btn" ng-click="app.state='patientview'"><i class="fa fa-dashboard fa-lg fa-fw"></i></button></li>
        <li><button class="flat-btn gradient-area nav-btn" ng-click="app.state='messageview'"><i class="fa fa-envelope fa-lg fa-fw"></i></button></li>
        <li><button class="flat-btn gradient-area nav-btn" ng-click="app.state='conferenceview'"><i class="fa fa-comments fa-lg fa-fw"></i></button></li>
    </ul>
</nav>