<div class="nav gradient-area" id="navbar">
    <button class="flat-btn gradient-area nav-btn" ng-click="setState('dashboard-view');">Inicio</button>
    <button class="flat-btn gradient-area nav-btn" ng-click="setState('agenda-view');">Agenda</button>
    <button class="flat-btn gradient-area nav-btn" ng-click="setState('buscar-view');">Buscar</button>
    <button class="flat-btn gradient-area nav-btn" ng-click="setState('pacientes-view');">Pacientes</button>
    <button class="flat-btn gradient-area nav-btn" ng-click="setState('estudios-view');">Estudios</button>
    <button class="flat-btn gradient-area nav-btn" ng-click="setState('reportes-view');">Reportes</button>
    <button class="flat-btn gradient-area nav-btn" ng-click="setState('supporte-view');">Suporte</button>
    <button class="flat-btn gradient-area nav-btn" ng-click="setState('catalogos-view');">Catalogos</button>
    <button class="flat-btn gradient-area nav-btn" ng-click="setState('conference-view');">Consultas</button>
    <button class="flat-btn gradient-area nav-btn" ng-click="setState('customize-forms-view');">Mis Plantillas</button>
</div>