<div ng-show="app.state=='register'">
    <div class="account-container register">

        <div class="content clearfix">

            <form id="registerform">

                <h1>Register</h1>

                <div class="login-fields">

                    <p>Create your account:</p>
            
                    <div class="field">
                        <label>Name
                        <input class="form-control" type="text" id="" name="username" value="" placeholder="Name"></label>
                    </div>

                    <div class="field">
                        <label>Email Address
                        <input class="form-control" type="email" id="email" name="email" value="" placeholder="Email"></label>
                    </div> <!-- /field -->

                    <div class="field">
                        <label>Password
                        <input class="form-control" type="password" id="password" name="password" value="" placeholder="Password" class="login"></label>
                    </div> <!-- /field -->

                    <div class="field">
                        <label>Confirm Password:

                        <input class="form-control" type="password"  name="password2" value="" placeholder="Confirm Password" class="login"></label>

                    </div> <!-- /field -->

                </div> <!-- /login-fields -->

                <div class="login-actions">

                    <span class="login-checkbox">
                        <input id="Field" name="Field" type="checkbox" class="field login-checkbox" value="First Choice" tabindex="4" />
                        <label class="choice" for="Field">Agree with the Terms & Conditions.</label>
                    </span>

                    <button class="button btn btn-primary btn-large" ng-click="registerUser();">Register</button>
                
                </div> <!-- .actions -->

            </form>

        </div> <!-- /content -->

    </div> <!-- /account-container -->


    <!-- Text Under Box -->
    <div class="login-extra">
        Already have an account? <a ng-click='app.state = undefined'>Login to your account</a>
    </div> <!-- /login-extra -->
</div>