<!DOCTYPE html>
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>&copy; Medicaxess.com </title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
	
	<meta name="description" content="" />
	<meta name="keywords" content="" />

        
	<!-- Bootstrap -->
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="/css/pages/signin.css">
	<link rel="stylesheet" href="/css/style.css">
    <script src="//code.jquery.com/jquery-2.1.3.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
	
    <style>
        .glyphicon { margin-right:10px; }
        .section{margin-top: 10%;}
        .panel{padding-left: 5px;}
        .panel-body { padding:5px; }
        .panel-body table tr td { padding-left: 15px }
        .panel-body .table {margin-bottom: 0px; }
        .panel-heading { background-color: #DADADA;}
        .main-inner{margin-top: 50px;
        .a { text-decoration: none; }
        a:hover, a:visited, a:link, a:active
        {
            text-decoration: none;
        }
        
        #navbar{
            margin-bottom: 0px;
            color: white;
        }
        
        #navbar ul li{
            margin: 0px;
            padding: 1px;
        }
        #navbar ul li a:hover{
            background-color: darkblue;
            color: white;
        }
        
        #header h1 { font-size: 10pt; color:#DADADA; }
        #header h1 a { font-size: 10pt; }
    </style>	


    <script type="text/javascript" src="bower_components/angular/angular.js"></script>
    <script src="/components/login/login-controller.js"></script>
    <script src="/components/dashboard/dashboard-controller.js"></script>
    <script src="app.js"></script>

</head>

<body ng-app="myApp" ng-controller="LoginController">
	<header id="header" class="panel-heading panel-primary">
		<h1><a href="#" id="node" name="node">Medicaxess</a> by IMAXESS</h1>
		    <!-- Fixed navbar -->
        <nav class="navbar  navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  <!--<a class="navbar-brand" href="#">Bootstrap theme</a>-->
                </div>
                
                <div id="navbar" class="navbar-collapse collapse">
                  <ul class="nav navbar-nav pull-right">
                    <li><a ng-click="app.state='providerview'"><i class="fa fa-dashboard fa-lg fa-fw"></i><span>Dashboard</span></a></li>
                    <li><a ng-click="app.state='reportsview'"><i class="fa fa-list-alt fa-lg fa-fw"></i><span>Reports</span></a></li>
                    <li><a ng-click="app.state='providerview-search'"><i class="fa fa-group fa-lg fa-fw"></i><span>Patients</span></a></li>
                    <li><a ng-click="app.state='messageview'"><i class="fa fa-envelope fa-lg fa-fw"></i><span>Messages</span></a></li>
                    <li><a ng-click="app.state='conferenceview'"><i class="fa fa-comments fa-lg fa-fw"></i><span>Conferencing</span></a></li>
                  </ul>
                </div><!--/.nav-collapse -->
            </div>
        </nav>
	</header>

    <div class="container">
        <div class="row">&nbsp;&nbsp;</div>
    	<login-area></login-area>
    	<signup-area></signup-area>
    	<section ng-controller="DashboardController">
    	    <dashboard-area></dashboard-area>
    	    <patient-area></patient-area>
    	    <charts-area></charts-area>
    	    <conference-area></conference-area>
    	</section>
	</div>
<!--
	<script src="/js/opentok.min.js"></script>
	
	<script src="/js/gauges.min.js"></script>
	-->
	<script>
	    google.setOnLoadCallback(drawChart);
	
	    function initVideo(){
	        var apiKey = "45126422";
	        var sessionId = "2_MX40NTEyNjQyMn5-MTQyMDkyNDY0NjQxM35lcTc1bUJOUFRvSTdpTlkyYXZOYnJrbVV-fg";
	        var token = "T1==cGFydG5lcl9pZD00NTEyNjQyMiZzaWc9NjllZTgyYmQ1MGIxZTlmM2IyNjRmM2NjYWQ5MDUzNGJiY2VkYjM0ZTpyb2xlPXB1Ymxpc2hlciZzZXNzaW9uX2lkPTJfTVg0ME5URXlOalF5TW41LU1UUXlNRGt5TkRZME5qUXhNMzVsY1RjMWJVSk9VRlJ2U1RkcFRsa3lZWFpPWW5KcmJWVi1mZyZjcmVhdGVfdGltZT0xNDIwOTI1NDAyJm5vbmNlPTAuMzc0MjM3OTgxNDQ3MDI4MTM=";
	
	        // Initialize session, set up event listeners, and connect
	        var session = OT.initSession(apiKey, sessionId);
	
	        session.on("streamCreated", function(event) {
	            session.subscribe(event.stream);
	        });
	
	        session.connect(token, function(error) {
	            var publisher = OT.initPublisher();
	            session.publish(publisher);
	        });
	
	    }
	    function drawChart() {
	
	        var data = google.visualization.arrayToDataTable([
	            ['Label', 'Value'],
	            ['Temp', 98.6],
	            ['SpO2',100],
	            ['Heart Rate', 101],
	            ['Systolic', 136],
	            ['Diastolic',95]
	        ]);
	
	        var options = {
	            width: 400, height: 120,
	            redFrom: 90, redTo: 100,
	            yellowFrom:75, yellowTo: 90,
	            minorTicks: 5
	        };
	
	        var chart = new google.visualization.Gauge(document.getElementById('chart_div'));
	
	        chart.draw(data, options);
	
	        setInterval(function() {
	            data.setValue(0, 1, 40 + Math.round(60 * Math.random()));
	            chart.draw(data, options);
	        }, 13000);
	        setInterval(function() {
	            data.setValue(1, 1, 40 + Math.round(60 * Math.random()));
	            chart.draw(data, options);
	        }, 5000);
	        setInterval(function() {
	            data.setValue(2, 1, 60 + Math.round(20 * Math.random()));
	            chart.draw(data, options);
	        }, 26000);
	    }
	</script>
</body>    
</html>
