<div class="panel panel-primary fade-in">
    <div class="panel-heading">Edit Form</div>
    <div class="panel-body">
        <div ng-if="currentForm != null">
            <fieldset>
                <legend>{{currentForm.displayname}}&nbsp;&nbsp;
                    <span style="float: right;">
                        <button class="btn btn-default" ng-click="saveForm()"><i class="glyphicon glyphicon-floppy-save"></i>&nbsp;&nbsp;Save</button>
                        <button class="btn btn-default" ng-click="currentForm = null"><i class="glyphicon glyphicon-remove-circle"></i>&nbsp;&nbsp;Cancel</button>
                    </span>
                </legend>

                <label>Form Name:<input class="form-control" type="text" ng-model="currentForm.displayname" required></label>
                <label>Where to store the form data?<input  class="form-control" list="formcollections" ng-model="currentForm.collection" required></label>
                <label>Form Scope:<input  class="form-control" list="formscopes" ng-model="currentForm.scope" required></label>
                <label>Custom Record Type:<input  class="form-control" list="formrecordtypes" ng-model="currentForm.recordtype" required></label>

                <datalist id="formscopes">
                    <option data-ng-repeat="scope in formInf.scopes" value="{{scope.value}}">{{scope.name}}</option>
                </datalist>
                <datalist id="formcollections">
                    <option data-ng-repeat="collection in formInf.collections" value="{{collection.value}}">{{collection.name}}</option>
                </datalist>
                <datalist id="formrecordtypes">
                    <option data-ng-repeat="rtype in formInf.recordtypes" value="{{rtype.value}}">{{rtype.name}}</option>
                </datalist>
                <datalist id="databind">
                    <option data-ng-repeat="binding in fieldInf.bindings" value="{{binding.value}}">{{binding.name}}</option>
                </datalist>
                <datalist id="fieldtypes">
                    <option data-ng-repeat="fieldtype in fieldInf.fieldtypes" value="{{fieldtype.value}}">{{fieldtype.name}}</option>
                </datalist>
                <label>Add Field: <button ng-click="addField();" class="btn btn-xs"><i class="glyphicon glyphicon-plus-sign"></i></button></label>
                <field-edit-widget></field-edit-widget>
                *note: Not all browsers support all field types yet.  If the browser does not support it, the user will see a single line text field.<br>
                **note: Dynamic binding on a form field allows you to automatically "fill it in" based an an existing object in the database, e.g. patient.displayname.<br>
                The objects listed in the drop down are the primary objects tracked by the application. To add something new, append your own field name. If you ensure you consistently name the fields then they will display correctly in reports, but do not use accented or special characters.
            </fieldset>
        </div>
    </div>
</div>
