<div class="panel panel-primary fade-in" ng-controller="FormController">

    <span class="panel-heading">
        {{currentForm.displayname}}
    </span>
    <div class="panel-body">
        <form name="form">
            <input class="hidden" type="hidden" name="collection" value="{{currentForm.collection}}">
            <ul class="list-group">
                <li class="list-group-item fade-in" ng-repeat="field in currentForm.fields track by $index" >
                    <label>{{field.displayname}}
                            <span ng-if="field.type != 'list' && field.type !='image' && field.type !='range'  && field.type != 'number'">
                                <input class="form-control" type="{{field.type}}" name={{field.variable}} dynamic-model="field.databind" required="{{field.isRequired}}">
                            </span>
                            <span  ng-if="field.type == 'image'">
                                <img ng-src="{{field.databind}}">
                               <input class="form-control" type="file" name={{field.name}} value="{{field.value}}" dynamic-model="field.databind" capture>
                            </span>
                            <span  ng-if="field.type == 'list'">
                                <select name="{{field.name}}" class="form-control" dynamic-model="field.databind">
                                    <option ng-repeat="item in field.list" value="item.value">{{item.name}}</option>
                                </select>
                            </span>
                            <span  ng-if="field.type == 'range' || field.type == 'number'">{{field.value}}
                                <input class="form-control" type="{{field.type}}"
                                       min="{{field.min}}"
                                       max="{{field.max}}"
                                       dynamic-model="field.databind" >
                            </span>
                            <span ng-if="field.isRepeating"><button class="btn btn-default" ng-click="appendField(field)">Add</button></span>
                     </label>
                </li>
            </ul>
            <input type="submit" class="btn btn-block btn-success" value="Save" ng-click="saveFormData(form)"/>
        </form>
    </div>
</div>