<div ng-controller="SearchController">
    <form>
        <div class="input-group">
            <input type="search" name="searchTxt" ng-model="search.Txt" ng-change="doSearch()" class="form-control" placeholder="texto para buscar" aria-describedby="search-addon">
            <span class="input-group-addon" id="search-addon">
                <span class="glyphicon glyphicon-search"></span>&nbsp;Buscar
            </span>
        </div>
        <div ng-if="app.state=='supporte-view' || app.state=='catalogos-view'">
            <button class="btn btn-default" ng-click="newRecord()"><span class="glyphicon glyphicon-plus-sign"></span>&nbsp;New Record</button>
        </div>
    </form>
</div>