<div class="panel-body">
    <fieldset>
        <legend><i class="fa fa-medkit"></i>&nbsp;&nbsp;Orders</legend>
        <table class="table table-striped table-responsive">
            <thead>
                <th>Type</th><th>Study</th><th>Reason</th><th>Status</th>
            </thead>
            <tbody>
                <tr ng-repeat="order in currentRecord.orders">
                    <td>{{order.type}}</td><td>{{order.studytype}}</td><td>{{order.reason}}</td><td>{{order.status}}</td>
                </tr>
            </tbody>
        </table>
    </fieldset>
</div>