<div class="widget">
    <div class="widget-header"><i class="icon-folder-open"></i>
        <h3> Records</h3> <span class="pull-right"><button class="btn btn-default" ng-click="appendRecord(currentPatient)">New</button>&nbsp;&nbsp;</span>&nbsp;&nbsp;</div>
    <div class="widget-content">
        <table class="table table-striped widget-table">
            <thead>
            <th>Date</th>
            <th>Provider</th>
            <th>Location</th>
            <th>Details</th>
            </thead>
            <tbody>
            <tr class="animate-repeat" ng-repeat="record in currentPatient.records">
                <td>{{record.date}}</td>
                <td>{{record.provider}}</td>
                <td>{{record.location}}</td>
                <td><button class="btn btn-info btn-block" ng-click="showRecordDetail(record)">Details</button></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>