<div class="panel panel-primary">
    <!--<span class="panel-heading"><i class="fa fa-folder-open"></i>&nbsp;&nbsp;Encounters<span class="pull-right"><button class="btn btn-default" ng-click="appendRecord(currentPatient)">New</button>&nbsp;&nbsp;</span>&nbsp;&nbsp;</span>-->
    <span class="panel-heading"><i class="fa fa-folder-open"></i>&nbsp;&nbsp;Encounters<span class="pull-right"><button class="btn btn-default" ng-click="startEncounter(currentPatient)">New</button>&nbsp;&nbsp;</span>&nbsp;&nbsp;</span>

    <div class="panel-body">
        <table class="table table-responsive table-striped">
            <thead>
            <th>Date</th>
            <th>Provider</th>
            <th>Location</th>
            <th>Details</th>
            </thead>
            <tbody>
            <tr class="animate-repeat" ng-repeat="record in currentPatient.records">
                <td>{{record.date | date:'medium'}}</td>
                <td>{{record.provider}}</td>
                <td>{{record.location}}</td>
                <td><button class="btn btn-info btn-block" ng-click="showRecordDetail(record)">Details</button></td>
            </tr>
            </tbody>
        </table>
        <div ng-if="newEncounter">
            <workflow-interaction-widget></workflow-interaction-widget>
        </div>
    </div>
</div>