<div class="col-xs-12 no-spacing">
    <div class="panel panel-primary">
        <span class="panel-heading"><i class="fa fa-user"></i>&nbsp;&nbsp;{{currentPatient.name}}</span>
        <div class="panel-body">
            <fieldset>

                <ul class="list-group">
                    <li class="list-group-item">
                        <label><span style="float: left;"><b>Name:</b></span><span style="float:right;">{{currentPatient.name}}</span></label>
                    </li>
                    <li class="list-group-item">
                        <label><span style="float: left;"><b>Gender:</b></span><span style="float:right;">{{currentPatient.gender}}</span></label>
                    </li>
                    <li class="list-group-item">
                        <label><span style="float: left;"><b>DOB:</b></span><span style="float:right;">{{currentPatient.dob | date: "yyyy-MM-dd"}}</span></label>
                    </li>
                </ul>
                <img ng-src="{{currentPatient.photo}}" style="float:left;">
            </fieldset>
            <prescription-widget></prescription-widget>
            <table class="table table-striped table-responsive">
                <tr ng-repeat="(key, value) in currentPatient.extraInfo"><td><b>{{key}}:</b></td><td>{{value}}</td></tr>
            </table>
        </div>
    </div>
</div>