<div class="widget">
    <div class="widget-header"><i class="icon-file"></i>
        <h3> {{currentRecord.date}} : {{currentRecord.provider}} : {{currentRecord.location}}</h3></div>
    <div class="widget-content">
        <complaints-widget></complaints-widget>
        <observations-widget></observations-widget>
        <studies-widget></studies-widget>
        <orders-widget></orders-widget>
        <prescription-widget></prescription-widget>
        <button class="btn btn-success btn-block">Close Record</button>
    </div>
</div>