<div class="col-md-12 no-spacing" ng-if="currentPatient">
    <div class="panel panel-primary">
        <span class="panel-heading">
            <i class="glyphicon glyphicon-user"></i>
            &nbsp;&nbsp;
            {{currentPatient.displayname}}
            &nbsp;&nbsp;
            <a ng-click="hidePatient()"><span class="glyphicon glyphicon-remove-sign"></span></a>
        </span>
        <span class="panel-heading" style="float: right;"></span>
        <div class="panel-body">
            <fieldset>
                <ul class="list-group">
                    <li class="list-group-item">
                        <label><span style="float: left;"><b>Name:</b></span><span style="float:right;">{{currentPatient.displayname}}</span></label>
                    </li>
                    <li class="list-group-item">
                        <label><span style="float: left;"><b>Gender:</b></span><span style="float:right;">{{currentPatient.gender}}</span></label>
                    </li>
                    <li class="list-group-item">
                        <label><span style="float: left;"><b>DOB:</b></span><span style="float:right;">{{currentPatient.dob | date: "yyyy-MM-dd"}}</span></label>
                    </li>
                    <li class="list-group-item">
                        <label><span style="float: left;"><b>MID:</b></span><span style="float:right;">{{currentPatient._id}}</span></label>
                    </li>
                </ul>
                <img ng-src="{{currentPatient.photo}}" style="float:left;">
            </fieldset>
            <div ng-controller="WorkflowController">
                <button ng-if="!currentWorkflow" ng-click="dump(currentWorkflow)">Mas Informes</button>
                <ul class="list-group col-md-2">
                    <li ng-repeat="ref in currentWorkflow.forms" class="list-group-item">
                        <button ng-click="setCurrentReport(ref)" class="btn-default btn-block btn-sm">{{findForm(ref.id).displayname}}</button>
                    </li>
                </ul>
                <fieldset>
                    <legend>{{findForm(currentReport.id).displayname}}</legend>
                    <ul class="list-group">
                        <li class="list-group-item" ng-repeat="field in findForm(currentReport.id).fields">
                            <label>
                                <span style="float: left;">
                                    <b>{{field.displayname}}:</b>
                                </span>
                                <span style="float:right;">
                                    <span ng-if="field.type == 'text'">
                                        {{parseValue(field.databind)}}
                                    </span>
                                    <span ng-if="field.type == 'date'">
                                        {{parseValue(field.databind) | date: "yyyy-MM-dd"}}
                                    </span>
                                    <span ng-if="field.type =='image'">
                                        <img ng-src="parseValue(field.databind)">
                                    </span>
                                </span>
                            </label>
                        </li>
                    </ul>
                </fieldset>
            </div>
        </div>
    </div>
</div>