<div class="panel-body">
    <fieldset>
        <legend><i class="fa fa-shield"></i>&nbsp;&nbsp;Prescriptions</legend>
        <table class="table">
            <thead>
                <tr>
                    <td>Drug</td><td>Dose</td><td>Frequency</td><td>Duration</td><td>Refills</td><td>Reason</td></tr>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="rx in currentPatient.rx">
                    <td>{{rx.drug}}</td>
                    <td>{{rx.dose}}</td>
                    <td>{{rx.frequency}}</td>
                    <td>{{rx.duration}}</td>
                    <td>{{rx.refillsallowed}}</td>
                    <td>{{rx.reason}}</td>
                </tr>
            </tbody>
        </table>
    </fieldset>
</div>