<div class="widget">
    <div class="widget-header"><i class="icon-beaker"></i>
        <h3> Studies</h3></div>
    <div class="widget-content">
        <ul>
            <li ng-repeat="study in currentRecord.studies">{{study.name}} | {{study.status}} | {{study.notes}}</li>
        </ul>
        <form>
            <label>Name / Type</label><input type="text" ng-model="newStudy.name"><br>
            <label>Status</label><input type="text" ng-model="newStudy.status"><br>
            <label>Notes</label><input type="text" ng-model="newStudy.notes"><br>
            <button class="btn btn-default" ng-click="appendStudy(currentRecord)">Add</button>
        </form>
    </div>
</div>