<div class="panel panel-primary">
    <span class="panel-heading"><i class="fa fa-facetime-video"></i>&nbsp;&nbsp;Video Conference
        <span class="pull-right">
            <select class="form-control">
                <option default>{{currentPatient.name}}</option>
                <option>Dr Morales</option>
                <option>Dr Strange</option>
                <option>Dr Doom</option>
                <option>Dr Ock</option>
            </select>
            <button class="btn btn-default" ng-click="startVideo()">Invite</button>&nbsp;&nbsp;
        </span>&nbsp;&nbsp;
    </span>
    <!-- /widget-header -->
    <div class="panel-body">
        <div id="myPublisherDiv"></div>
    </div>
</div>