<div class="widget widget-nopad">
    <div class="widget-header"> <i class="icon-facetime-video"></i>
        <h3> Video Conference</h3>
        <span class="pull-right">
            <select class="form-control">
                <option default>{{currentPatient.name}}</option>
                <option>Dr Morales</option>
                <option>Dr Strange</option>
                <option>Dr Doom</option>
                <option>Dr Ock</option>
            </select>
            <button class="btn btn-default" ng-click="startVideo()">Invite</button>&nbsp;&nbsp;
        </span>&nbsp;&nbsp;
    </div>
    <!-- /widget-header -->
    <div class="widget-content">
        <div class="widget big-stats-container">
            <div class="widget-content">
                <div id="myPublisherDiv"></div>
            </div>
            <!-- /widget-content -->
        </div>
    </div>
</div>