<div class="row" ng-if="currentWorkflowState== 'edit'">
    <div class="panel panel-default">
        <div class="panel-heading">{{currentWorkflow.displayname}}</div>
        <div class="panel-body">
            <p>{{currentWorkflow.description}}&nbsp;&nbsp;<button class="btn btn-default" ng-click="saveWorkflow()">Save</button></p>
            <p>Use the "Add Step dropdown" to add a form to this workflow.</p>
            <p>
                <ol class="table table-responsive table-striped">
                    <li ng-repeat="ref in currentWorkflow.forms">
                        <span class="row">
                        <div class="col-md-2">{{findForm(ref.id).displayname}}</div>
                        <div class="col-md-2">
                            <span ng-if="ref.repeating">Repeat</span>
                            <span ng-if="!ref.repeating">No Repeat</span>
                            <span><input type="checkbox" ng-model="ref.repeating"></span>
                        </div>
                        <div class="col-md-2"><button class="btn btn-default" ng-click="removeStep(ref.id)">Remove</button></div>
                        </span>
                    </li>
                </ol>
            </p>
            <p>
                <label>Next Step:<input  class="form-control" list="availableforms" ng-model="currentWorkflow.nextstep" ng-change="setStep()"></label>
            </p>
            <datalist id="availableforms">
                <option data-ng-repeat="form in forms" value="{{form._id}}">{{form.displayname}}</option>
            </datalist>
        </div>
    </div>
</div>