<div class="row" ng-controller="WorkflowController">
    <div class="col-md-12" >
        <div ng-if="currentWorkflow" class="panel panel-default">
            <div class="panel-heading">{{currentWorkflow.displayname}} - Workflow
                <span class="pull-right">
                    <button ng-if="currentWorkflow.step != 0" class="btn btn-default" ng-click="stepBackward()">Back</button>
                    <button class="btn btn-default" ng-click="workflowComplete()">Finished</button>
                    <button ng-if="currentWorkflow.step != currentWorkflow.forms.length" style="float: right" class="btn btn-default" ng-click="stepForward()">Next</button>
                </span></div>
            <div class="panel-body">
                <form-widget></form-widget>
            </div>
        </div>
        <div ng-if="!currentWorkflow" class="panel panel-default">
            <div class="panel-heading">
                Please select a workflow to use
            </div>
            <div class="panel-body">
                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="flow in workflows">
                        <a ng-click="setCurrent(flow)">{{flow.displayname}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>